In [1]:
#import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import time
import re

In [2]:
# init_browser():
executable_path = {"executable_path":"chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless = False)

### NASA Mars News

In [3]:
#Go to NASA Mars News Site
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
# scrape():
time.sleep(5)
html = browser.html
soup = bs(html, 'html.parser')

In [5]:
ListTitle= soup.find("ul", class_="item_list")
title=ListTitle.find('div', class_="content_title").get_text()
title

"Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover"

In [6]:
paragraph = ListTitle.find("div", class_="article_teaser_body").get_text()

paragraph

'NASA chose a seventh-grader from Virginia as winner of the agency\'s "Name the Rover" essay contest. Alexander Mather\'s entry for "Perseverance" was voted tops among 28,000 entries. '

### JPL Mars Space Images - Featured Image

In [7]:
# Visit the url for JPL Featured Space Image 
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)

In [8]:
#Getting the base url
from urllib.parse import urlsplit
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url_image))
time.sleep(10)
print(base_url)

https://www.jpl.nasa.gov/

In [9]:
#Design an xpath selector to grab the image
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [10]:
#Use splinter to click on the mars featured image
#to bring the full resolution image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [11]:
#get image url using BeautifulSoup
time.sleep(5)
html_image = browser.html
soup = bs(html_image, "html.parser")
img_url = soup.find("img", class_="fancybox-image")["src"]
full_img_url = base_url + img_url
time.sleep(10)
print(full_img_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA23745_hires.jpg

### Mars Weather

In [12]:
import GetOldTweets3 as got
tweetCriteria = got.manager.TweetCriteria().setUsername("MarsWxReport").setMaxTweets(5)
tweet = got.manager.TweetManager.getTweets(tweetCriteria)[3]
print(tweet.text)

InSight sol 454 (2020-03-06) low -96.0ºC (-140.8ºF) high -12.7ºC (9.1ºF) winds from the SSE at 5.8 m/s (12.9 mph) gusting to 25.2 m/s (56.4 mph) pressure at 6.30 hPa

### Mars Facts

In [13]:
facts_url = 'https://space-facts.com/mars/'
table = pd.read_html(facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [15]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
time.sleep(10)
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### Mars Hemispheres

In [16]:
hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere)
time.sleep(15)

In [17]:
#Getting the base url
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(hemisphere))
time.sleep(15)
print(base_url)

https://astrogeology.usgs.gov/

In [18]:
cerberus_image = browser.find_by_tag('h3')[0]
schiaparelli_image =  browser.find_by_tag('h3')[1]
syrtis_image = browser.find_by_tag('h3')[2]
marineris_image = browser.find_by_tag('h3')[3]

In [19]:
browser.find_by_css('.thumb')[0].click()
first_img = browser.find_by_text('Sample')['href']
browser.back()

browser.find_by_css('.thumb')[1].click()
second_img = browser.find_by_text('Sample')['href']
browser.back()

browser.find_by_css('.thumb')[2].click()
third_img = browser.find_by_text('Sample')['href']
browser.back()

browser.find_by_css('.thumb')[3].click()
fourth_img = browser.find_by_text('Sample')['href']

mars_hemispheres_images = [
    {'title': cerberus_image, 'img_url': first_img},
    {'title': schiaparelli_image, 'img_url': second_img},
    {'title': syrtis_image, 'img_url': third_img},
    {'title': marineris_image, 'img_url': fourth_img}
]
time.sleep(20)
mars_hemispheres_images

[{'title': <splinter.driver.webdriver.WebDriverElement at 0x1d1b282b9c8>,
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': <splinter.driver.webdriver.WebDriverElement at 0x1d1b282bfc8>,
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': <splinter.driver.webdriver.WebDriverElement at 0x1d1b2831988>,
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': <splinter.driver.webdriver.WebDriverElement at 0x1d1b2831b88>,
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]